.dialog {
	@apply bg-transparent;

	&::backdrop {
		@apply bg-black bg-opacity-50 backdrop-blur-sm;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.centered {
	@apply top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
}

.container {
	@apply relative p-4 md:p-6 bg-bg-secondary rounded-10 max-h-full overflow-y-auto;
}

.closeBtn {
	@apply absolute top-3 right-3;
}
